@charset "UTF-8";
@media all and (max-width: 479px){
/*    모바일*/
    /*---------------------------------------------------font*/
    @font-face{
        font-family: futura-bold;
        src: url('../font/Futura-Bold-BT.woff') format('woff');
    }
    @font-face{
        font-family: futura-heavy;
        src: url('../font/Futura-Heavy-font.woff') format('woff');
    }

    /*---------------------------------------------------INIT*/
    html{
        font-size: 10px;    
    }
    *{
        padding: 0;
        margin: 0;
    }
    img{
        border: 0;
        width: 100%;
    }
    a{
        text-decoration: none;
        color: white;
    }
    ul, li{
        list-style: none;
    }
    body{
        overflow: hidden;
    }

    /*----------------------------------------------------header*/
    header{
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 3;
    }
    .logo-text{
        color: white;
        font-size: 3.5rem;
        position: absolute;
        line-height: 50px;
        left: 20px;
        font-family: 'futura-bold';
    }
    .logo-text:hover a{
        color: #060606;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    .logo{
        width: 28px;
        height: 26.5px;
        margin: 11.75px auto;
        transition-duration: 3s;
    }
    .logo>img{
        width: 100%;
        height: 100%;
    }

    .logo:hover{
        transform: rotateY(360deg);
    }
    .burger{
        height: 14px;
        position: absolute;
        right: 20px;
        top: 18px;
    }
    .top-burger{
        width: 20px;
        height: 2px;
        background-color: white;
        transition-duration: 1s;
    }
    .top-burger-on{
        width: 25px;
        transform: rotateZ(45deg) translateY(9px);
    }
    .bottom-burger{
        width: 25px;
        height: 2px;
        margin-top: 10px;
        background-color: white;
        transition-duration: 1s;
    }
    .bottom-burger-on{
        transform: rotateZ(-45deg) translateY(-8px);
    }
/*    -----------------------------------------------arrow*/
    .arr-wrap{
        position: fixed;
        right: 1.46484%;
        top: 40%;
        width: 40px;
        height: 120px;
        z-index: 1;
    }
    .touch-arr{
        position: absolute;
    }
    #UP{
        top: 0;
    }
    #DOWN{
        bottom: 0;
    }
    .scroll-icon{
        display: none;
    }

    /*-------------------------------------------------menu*/
    .menu{
        width: 100%;
        height: 100%;
        background-color: #060606;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 2;
        color: white;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        transition-duration: 1s;
        overflow: scroll;
    }
    .menu::-webkit-scrollbar {
        display:none;
    }
    .menu-on{
        left: 0;
    }
    .menu-container{
        width: 59.375%; 
    /*    1140px*/
        height: 525px;
        margin: 130px auto;
    }
    .menu-left{
        float: left;
        width: 28.94736%;
    }
    .menu-logo{
        width: 177px;
        height: 62px;
    }
    .menu-info{
        margin-top: 50px;
        font-size: 1.5rem;
    }
    .menu-info>a{
        font-weight: 600;
    }
    .menu-sns-wrap{
        width: 200px;
        height: 25px;
        margin-top: 50px;
    }
    .menu-sns{
        float: left;
        height: 25px;
        margin-right: 25px;
    }
    .menu-sns:last-child{
        margin-right: 0;
    }
    .menu-sns>img{
        height: 25px;
    }
    .menu-right{
        float: right;
        width: 61.403508771%;
    /*    width: 700px;*/
        margin-bottom: 20px;
    }

    .search-wrap{
        width: 85.71428571%;
    /*    width: 600px;*/
        height: 25px;
        position: relative;
    }
    #search{
        width: 100%;
        height: 25px;
        color: white;
        background-color: #060606;
        border: 2px solid white;
        border-radius: 10px;
    }
    .search-icon{
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .menu-list{
        width: 100%;
        margin-top: 50px;
    }
    .menu-but{
        width: 100%;
        margin-top: 20px;
    }
    .menu-but>a{
        font-size: 4.5rem;
        font-family: 'futura-heavy';
    }
    .menu-but:hover a{
        color: #060606;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

    /*-------------------------------------------------section*/
    section{
        background-color: #060606;
        position: fixed;
        overflow: hidden;
    }

    /*-------------------------------------------------rotation page*/
    #rotate-circle{
        width: 100vh;
        height: 100vh;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: -100vh;
        transition-duration: 1s;
    }
    .page-position{
        width: 100%;
    /*    969px*/
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .even{
        transform: rotateZ(-45deg);
    }
    .page{
        width: 100vw;
        height: 61.91950464vh;
    /*    1500px*/
    /*    height: 600px;*/
        background-color: rgba(20,20,20,0.3);
        position: absolute;
        left: 0;
        transform-origin: left top;
        opacity: 0;
        transition-duration: 1s;
    }
    .page-container{
        width: 85.3333333%;
    /*    1280px*/
        height: 70.1754386vh;
        position: absolute;
        right: 0%;
        top: -40px;
    }
    .page-img, .page-txt{
        position: absolute;
        color: white;
    }
    .page-txt-main{
        font-size: 4rem;
        font-family: 'futura-heavy'
    }
    .page-txt-sub{
        font-size: 3rem;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .on{
        opacity: 1;
    }

    /*------------------------------------------------page 1*/
    .box1-1{
        width: 45.40763674vh;
        top: 15.5%;
        left: -10.02941176%;
    }
    .box1-2{
        display: none;
    }
    .txt-1{
        left: 0%;
        top: -5%;
    }

    /*-----------------------------------------------page 2*/
    .box2-1{
        display: none;
    }
    .box2-2{
        width: 50.99380805vh;
        left: -10%;
        top: 25.94117647%;
    }
    .txt-2{
        right: 10%;
        top: 0%;
    }


    /*-----------------------------------------------page 3*/
    .box3-1{
        width: 30.95833333vw;
    /*    width: 460px;*/
        height: 30.95833333vw;
        left: 0%;
        top: 30%;
        background-color: #464646;
    }
    .box3-1>img{
        width: 160%;
        position: absolute;
        left: -41.30434782%;
        top: 13.04347826%;
    }
    .box3-2{
        width: 25.96875vw;
    /*    width: 345px;*/
        height: 25.96875vw;
        left: 60.15625%;
        bottom: 25%;
        background-color: #141414;
    }
    .box3-2>img{
        width: 130.4347826%;
        position: absolute;
        left: -17.391304347%;
        top: 14.49275362%;
    }
    .box3-3{
        width: 20.97916667vw;
    /*    width: 230px;*/
        height: 20.97916667vw;
        right: 20%;
        top: 20%;
        background-color: #454545;
    }
    .box3-3>img{
        width: 83.47826087%;
        position: absolute;
        left: 8.695652%;
        top: -15.2173913%;
    }
    .txt-3{
        left: -5%;
        bottom: 10%;
    }

    /*-----------------------------------------------page 4*/
    .box4-1{
        width: 45.875vh;
        left: -5.734375%;
        top: 38.11764706%;
    }
    .box4-2{
        display: none;
    }
    .txt-4{
        left: 0%;
        top: 10%;
        text-align: left;
    }
    .txt-4>.buy-button{
        position: absolute;
        left: 0;
    }

    /*-----------------------------------------------page 5*/
    .box5-1{
        width: 40vh;
        left: 3.90625%;
        top: 10.29411765%;
    }
    .box5-2{
        display: none;
    }
    .box5-3{
        display: none;
    }
    .txt-5{
        right: 10%;
        bottom: 15%;
        text-align: right;
    }
    .txt-5>.buy-button{
        position: absolute;
        right: 0px;
    }

    /*-----------------------------------------------page 6*/
    .box6-1{
        width: 85%;
        left: 0;
        top: 11.61764706%;
    }
    .txt-6{
        left: 0%;
        bottom: 13.67647059%;
    }


    /*-----------------------------------------------page 7*/
    .box7-1{
        width: 85%;
        left: 0;
        top: 11.61764706%;
    }
    .txt-7{
        left: 0%;
        bottom: 13.67647059%;
    }

    /*-----------------------------------------------page 8*/
    .con8{
        width: 85%;
        height: 97.5%;
        top: 1.709401709%;
        left: 10%;
    }
    .box8-1{
        display: none;
    }
    .box8-2{
        width: 85%;
        left: 0;
        top: 11.61764706%;
    }
    .box8-3{
        display: none;
    }

    .page-8-item{
        position: absolute;
        top: 110%;
        left: 5%;    
        font-family: 'Noto Sans KR', sans-serif;
        color: white;
    }
    .txt-8{
        font-size: 4rem;
        text-align: center;
    }
    .page-8-pic:hover{
        opacity: 0.7;
    }


    /*-------------------------------------buy button*/
    .buy-button{
        display: block;
        width: 120px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        line-height: 30px;
        color: #333333;
        background-color: white;
        margin-top: 15px;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .buy-button:hover{
        color: white;
        background-color: #060606;
        border: 1px solid white;
        box-sizing: border-box;
    }

    /*---------------------------------------------progress bar*/
    .progress-circle{
        position: fixed;
        bottom: 25px;
        left: 25px;
        z-index: 1;
    }
}
